@import 'tailwindcss';

@layer components {
  .btn-login {
    @apply rounded-md bg-blue-500 px-5 py-2 text-white transition-colors duration-300 hover:bg-blue-600;
  }
  .icon-hover {
    @apply transition-all duration-300 hover:scale-115 hover:text-blue-500;
  }
  .link-article {
    @apply flex flex-col rounded-md bg-white p-4 shadow-sm transition-shadow duration-300 ease-in-out hover:shadow-xl;
  }
  .error {
    @apply text-red-500;
  }
  .loading {
    @apply flex items-center justify-center text-gray-500;
  }
  .search {
    @apply w-full rounded-md border border-gray-300 bg-white px-2 py-3 focus:outline-blue-500/75;
  }
  .search-btn {
    @apply cursor-pointer rounded-md bg-blue-500 px-6 py-3 text-white transition-colors duration-300 hover:bg-blue-600;
  }
  .active-link {
    @apply cursor-pointer underline hover:text-blue-500;
  }
  .disabled-link {
    @apply cursor-default text-gray-400;
  }
}
